# Python In-class Exercise

### 1. Write a program to check whether an year entered by an user is leap year or not

In [1]:
def isleap(yr):
    if(yr%400==0): return True
    if(yr%4==0 and yr%100!=0): return True
    return False

isleap(2024)

True

### 2. Take a string containing punctuation marks as an input from user and write a program to remove all the  punctuation marks from a string

In [2]:
# e.g: Wow! This is amazing... Can you believe it?
punc_marks = ['.', ',', '?', '!', ':', ';', "'", '"', '-', '–', '—', '(', ')', '[', ']', '...', '/']
user_ip = input("Enter a sentence using punctuation marks: ")

for mark in punc_marks:
    user_ip = user_ip.replace(mark, '')

user_ip

Enter a sentence using punctuation marks:  Wow! Did you see that amazing display of fireworks at the park last night?

'Wow Did you see that amazing display of fireworks at the park last night'

### 3. Take two separate numbers as input from the user and Write a program to swap 2 numbers without using temporary variable

In [3]:
a, b = input("Input two numbers separated by a space: ").split()
a,b = b,a
print(a,b)

Input two numbers separated by a space:  2 5

5 2

### 4. Write a program to print product of following variables
<br> integer = 10 
<br> string = "15"

In [5]:
integer = 10 
string = "15"
integer*int(string)

150

### 5. Write a program to print following pattern
<br>a
<br>b c
<br>d e f
<br>g h i j
<br>k l m n o
<br>p q r s t u

In [6]:
rows = 6
current_letter = ord('a')

for i in range(rows):
    for j in range(i + 1):
        print(chr(current_letter), end=" ")  # Print the current letter
        current_letter += 1  # Move to the next letter
    print()  # Move to the next line after printing each row

a
b c
d e f
g h i j
k l m n o
p q r s t u

### 6. Write a program to print tables from 2 to n, where n is provided by user

In [7]:
n = int(input("Enter a number: "))
table_range = range(2,n+1)
for num in table_range:
    print(f"Table of {num}:", end=' ')
    for idx in range(1,11):
        print(num*idx, end =' ')
    print('\n')

Enter a number:  5

Table of 2: 2 4 6 8 10 12 14 16 18 20

Table of 3: 3 6 9 12 15 18 21 24 27 30

Table of 4: 4 8 12 16 20 24 28 32 36 40

Table of 5: 5 10 15 20 25 30 35 40 45 50

### 7. Write a program to read height (in centimeters) from user and then convert it to feet and inches

In [9]:
height_cm = float(input('Enter your height in cm: '))

def cm_inches(n):
    return n/2.54

def cm_feet(n):
    return 0.0328084*n

print(f"Height in inches: {cm_inches(height_cm)}")
print(f"Height in feet: {cm_feet(height_cm)}")

Enter your height in cm:  172

Height in inches: 67.71653543307086
Height in feet: 5.6430448

### 8. Write a program to print following pattern

                                                *
                                                * * 
                                                * * *
                                                * *
                                                *

In [10]:
count = 0
for i in range(4):
    for j in range(i):
        print('*', end=' ')
    print()
    
for i in range(2, 0, -1):
    for j in range(i):
        print('*', end=' ')
    print()

*
* *
* * *
* *
*

### 9. Below list contains age and name of five students. Convert the list into a dictionary such that the name is taken as key and the age before their name is taken as thier respective value in the dictionary

students = [26,'Jon',34,'Roger',13,'Jessica',24,'Monica',65,'Ashton']
Output: {'Jon':26, 'Roger':34, 'Jessica':13, 'Monica':24, 'Ashton':65}

In [11]:
students = [26, 'Jon', 34, 'Roger', 13, 'Jessica', 24, 'Monica', 65, 'Ashton']

keys = students[1::2]
values = students[0::2]

dict_students = dict(zip(keys, values))
print(dict_students)

{'Jon': 26, 'Roger': 34, 'Jessica': 13, 'Monica': 24, 'Ashton': 65}

### 10. Write a program to check whether two strings, taken from user, are anagram or not

In [12]:
str1 = input('Enter a string 1: ')
str2 = input('Enter a string 2: ')

def isAnagram(str1, str2):
    if len(str1)!=len(str2): return False
    for char in str1:
        if char not in str2: return False
    return True
isAnagram(str1, str2)

Enter a string 1:  hey
Enter a string 2:  no

False

### 11. Write a program that sorts all the elements of the list according to the first letter, irrespective of their cases (uppercase or lowercase). Note: Do not use any inbuilt sorting function

In [13]:
list_A = ['mango', 'banana', 'tomato', 'cheery', 'lemon', 'grapes', 'mango']

n = len(list_A)
for i in range(n):
    for j in range(0, n-i-1):
        if ord(list_A[j][0]) > ord(list_A[j+1][0]): 
            list_A[j], list_A[j+1] = list_A[j+1], list_A[j] # swap
list_A

['banana', 'cheery', 'grapes', 'lemon', 'mango', 'mango', 'tomato']

### 12. Write a program that prints a list of sour fruits from the below tuple:
<br>fruits = (('Lemon','sour'), ('DragonFruit', 'Sweet'), ('Grapes','soUr'), ('Kiwi','Sour'), ('Apples','sweet'), ('Orange','sour'), ('Blueberries','sweet'), ('Limes','Sour') ) 

<br>**Output**: Sour Fruits: ['Lemon', 'Grapes', 'Kiwi', 'Orange', 'Limes']

In [14]:
fruits = (
    ('Lemon','sour'), 
    ('DragonFruit', 'Sweet'), 
    ('Grapes','soUr'), 
    ('Kiwi','Sour'), 
    ('Apples','sweet'), 
    ('Orange','sour'), 
    ('Blueberries','sweet'), 
    ('Limes','Sour') 
)

In [15]:
output = []
for k,v in fruits:
    if v.casefold() == 'sour': output.append(k)
output

['Lemon', 'Grapes', 'Kiwi', 'Orange', 'Limes']

### 13. Given below are the list of positive and negative words. Also a list of tweets is provided. Separate out the positive and negative comments

<br>positive = ['good','awesome', 'best', 'nice']

<br>negative = ['worst','awful', 'bad']

<br>tweets = ['This government policies are good', 
'bad implementation', 'The way he played showed that he is one of the best players in the world', 'Her acting in the play was awesome', 'The wine tastes awful', 'It's nice to hear this little kid's laugh']

In [16]:
positive = ['good','awesome', 'best', 'nice']
negative = ['worst','awful', 'bad']

tweets = [
    'This government policies are good', 
    'bad implementation', 
    'The way he played showed that he is one of the best players in the world', 
    'Her acting in the play was awesome', 
    'The wine tastes awful', 
    "It's nice to hear this little kid's laugh"
]

In [17]:
neg_tw_list = []
pos_tw_list = []

for tweet in tweets:
    neg_tw = False
    pos_tw = False
    for word in tweet.split():
        if word in negative: neg_tw = True
        if word in positive: pos_tw = True
    if neg_tw == True: neg_tw_list.append(tweet)
    if pos_tw == True: pos_tw_list.append(tweet)
print(f"Negative comments: {neg_tw_list}")
print(f"Positive comments: {pos_tw_list}")

Negative comments: ['bad implementation', 'The wine tastes awful']
Positive comments: ['This government policies are good', 'The way he played showed that he is one of the best players in the world', 'Her acting in the play was awesome', "It's nice to hear this little kid's laugh"]

In [18]:
# Define lists of positive and negative keywords
positive_keywords = ['good', 'awesome', 'best', 'nice']
negative_keywords = ['worst', 'awful', 'bad']

# Initialize lists to hold positive and negative tweets
neg_tw_list = []
pos_tw_list = []

# List of tweets
tweets = [
    'This government policies are good', 
    'bad implementation', 
    'The way he played showed that he is one of the best players in the world', 
    'Her acting in the play was awesome', 
    'The wine tastes awful', 
    "It's nice to hear this little kid's laugh"
]

# Classify each tweet
for tweet in tweets:
    tweet_lower = tweet.lower()
    words = tweet_lower.split()
    
    neg_tw = any(word in negative_keywords for word in words)
    pos_tw = any(word in positive_keywords for word in words)
    
    if neg_tw:
        neg_tw_list.append(tweet)
    if pos_tw:
        pos_tw_list.append(tweet)

# Print the classified lists
print(f"Negative comments: {neg_tw_list}")
print(f"Positive comments: {pos_tw_list}")

Negative comments: ['bad implementation', 'The wine tastes awful']
Positive comments: ['This government policies are good', 'The way he played showed that he is one of the best players in the world', 'Her acting in the play was awesome', "It's nice to hear this little kid's laugh"]

### 14. Write a program that performs multiplication of the following two matrix

In [19]:
X = [[1,2,3],
    [4 ,5,6],
    [7 ,8,9]]

Y = [[1,8,1],
    [3,7,3],
    [4,5,9]]

In [20]:
K = [[0,0,0],[0,0,0],[0,0,0]]
for i in range(3):
    for j in range(3):
        for k in range(3):
            K[i][j] += X[i][k]*Y[k][j]
K

[[19, 37, 34], [43, 97, 73], [67, 157, 112]]

### 15. Write a program to remove space from keys of the given dictionary

Employee = {'emp 01' : 'Raj', 'emp 02' : 'Sheela', 'emp 0 3 ': 'Joseph'}; 

Output:
<br>New dictionary :  {'emp01': 'Raj', 'emp02': 'Sheela', 'emp03': 'Joseph'}

In [21]:
Employee = {
    'emp 01' : 'Raj', 
    'emp 02' : 'Sheela', 
    'emp 0 3 ': 'Joseph'
}

newList = {}
for k, v in Employee.items():
    nk = k.replace(' ', '')
    newList[nk] = v

newList

{'emp01': 'Raj', 'emp02': 'Sheela', 'emp03': 'Joseph'}

### 16.  Write a program to display the subjects for which the scores are between 300 and 500 (inclusive) in the given dataframe

**Use the dataframe given below:**
    
<table>
 <tr>
 <th>Subject</th>
 <th>Score</th>
 </tr>
 <tr>
 <td>Maths</td>
 <td>345</td>
 </tr>
 <tr>
 <td>Physics</td>
 <td>432</td>
 </tr>
 <tr>
 <td>Chemistry</td>
 <td>456</td>
 </tr>
 <tr>
 <td>Biology</td>
 <td>234</td>
 </tr>
 <tr>
 <td>Geology</td>
 <td>254</td>
 </tr>
    
</table>

In [22]:
import pandas as pd

In [23]:
data = {
    'Subject': ['Maths', 'Physics', 'Chemistry', 'Biology', 'Geology'],
    'Score': [345,432,456,234,254]
}
df_sub = pd.DataFrame(data)
df_sub[(df_sub.Score > 300) & (df_sub.Score < 500)]

     Subject  Score
0      Maths    345
1    Physics    432
2  Chemistry    456

### 17. Write a program to find numbers between 10000 to 20000 from a given array

**Use the list given below:**

Sales = [1432,143223,2043332,1642357,54327,754338,12459,75435,224454,1433,12447,25532,86674,74338,12678]

In [24]:
Sales = [1432,143223,2043332,1642357,54327,754338,12459,75435,224454,1433,12447,25532,86674,74338,12678]

output = []
for s in Sales:
    if s>10000 and s<20000: output.append(s)

output

[12459, 12447, 12678]

### 18. Write a program to sort the dataframe by Rank (in ascending order)

**Use the dataframe given below:**
    
<table>
 <tr>
 <th>Name</th>
 <th>Rank</th>
 </tr>
 <tr>
 <td>Joy</td>
 <td>115</td>
 </tr>
 <tr>
 <td>Mia</td>
 <td>451</td>
 </tr>
 <tr>
 <td>Karan</td>
 <td>341</td>
 </tr>
 <tr>
 <td>Tom</td>
 <td>84</td>
 </tr>
    
</table>

In [25]:
df = pd.DataFrame({
    'Name': ['Joy','Mia', 'Karan', 'Tom'],
    'Rank': [115, 451, 341, 84]
})
df.sort_values('Rank')

    Name  Rank
3    Tom    84
0    Joy   115
2  Karan   341
1    Mia   451

### 19. Use the data given in the question 18, to do the following:
 Write a program to swap the 1st and 2nd row in a dataframe

In [26]:
# df.iloc[0], df.iloc[1] = df.iloc[1], df.iloc[0]
df.iloc[[0,1]] = df.iloc[[1,0]].values
df

    Name  Rank
0    Mia   451
1    Joy   115
2  Karan   341
3    Tom    84

### 20. Write a program to replace 0 and 1 in Gender variable with M and F

**Use the dataframe given below:**
    
<table>
 <tr>
 <th>Id</th>
 <th>Name</th>
 <th>Age</th>
 <th>Gender</th>
 </tr>
 <tr>
 <td>1</td>
 <td>Mia</td>
 <td>47</td>
 <td>1 </td>
 </tr>
 <tr>
 <td>2</td>
 <td>Sara</td>
 <td>38</td>
 <td>1</td>
 </tr>
 <tr>
 <td>3</td>
 <td>Joy</td>
 <td>47</td>
 <td>0</td>
 </tr>
 <tr>
 <td>4</td>
 <td>Karan</td>
 <td>41</td>
 <td>0</td>
 </tr>
    
</table>

In [27]:
df_personal_info = pd.DataFrame({
    'Id': [1,2,3,4],
    'Name': ['Mia', 'Sara', 'Joy', 'Karan'],
    'Age': [47, 38, 47, 41],
    'Gender': [1,1,1,0]
})
df_personal_info['Gender'] = df_personal_info['Gender'].replace({1:'M', 0:'F'})
df_personal_info

   Id   Name  Age Gender
0   1    Mia   47      M
1   2   Sara   38      M
2   3    Joy   47      M
3   4  Karan   41      F

### 21. Convert a 1D array to a 2D array containing 2 rows

**Use the array given below:**
    
dim_1 = ([331, 245, 246, 475, 348, 229])

In [28]:
import numpy as np
dim_1 = ([331, 245, 246, 475, 348, 229])
dim_2 = np.array(dim_1)
np.reshape(dim_2,(2,3))

array([[331, 245, 246],
       [475, 348, 229]])

### 22. Find the average cost of each variety of product available in the three different shops

**Use the data given below:**
    
[[10, 20, 30], [17, 14, 21], [25, 15, 12]],
  columns=['product_a', 'product_b', 'product_c'],
  index=['Shop1', 'Shop2', 'Shop3']

In [29]:
data = [[10, 20, 30], [17, 14, 21], [25, 15, 12]], 
columns=['product_a', 'product_b', 'product_c'], 
index=['Shop1', 'Shop2', 'Shop3']

### 23. Write a program to create a histogram using given data

**Use the list given below:**

weight = [34,56,43,22,2,58,89,78,67,56,65,43,23]

### 24. Write a program to delete items from series_a that are present in series_b and print the updated series_a

**Use the series given below:**
    
series_a = ([11, 12, 13, 14, 15])<br>
series_b= ([14, 15, 16, 17, 18])

### 25. Create a series of 40 random numbers and transform it into a dataframe containing seven columns and five rows

### 26. Get common elements from the two arrays

**Use the array given below:**<br>
      
      test_a = np.array([11,12,13,22,23,44,43,24,45,36])
      test_b = np.array([17,22,13,22,47,34,39,44,29,28])

### 27. Import dataset 'flights' from library seaborn. Check for datatypes of all variable.

### 28. Compute total sales for each product and country

**Use the dataframe given below:**
   
<table>
<tr>
<th>Product</th>
<th>Country</th>
<th>Sales</th>
</tr>
<tr>
<td>A</td>
<td>USA</td>
<td>44000</td>
</tr>
<tr>
<td>J</td>
<td>Japan</td>
<td>43000</td>
</tr>
<tr>
<td>A</td>
<td>Europe</td>
<td>54000</td>
</tr>
<tr>
<td>L</td>
<td>Japan</td>
<td>95600</td>
</tr>
<tr>
<td>R</td>
<td>Europe</td>
<td>79000</td>
</tr>
<tr>
<td>A</td>
<td>USA</td>
<td>67000</td>
</tr>
<tr>
<td>R</td>
<td>USA</td>
<td>68000</td>
</tr>
<tr>
<td>J</td>
<td>Japan</td>
<td>38000</td>
</tr>
<tr>
<td>L</td>
<td>USA</td>
<td>59000</td>
</tr>
<tr>
<td>A</td>
<td>Europe</td>
<td>60000</td>
</tr>
   
</table>

### 29. Get the descriptive statistics of the sales for each Country

### 30. Reverse each of the rows of the 2D array

**Use the array given below:**<br>

    num_array = np.arange(20).reshape(4,5)