1. 	What will be the output of the following expression if it is executed in Python interactive mode?


    16 % 3


    a. 5			 b. 1


    c. 0			 d. -1

In [58]:
16 % 3

1

2. 	What will be the output of the following program?


    X=5


    Y=5


    print(X/Y)


    a. 1 			b. 1.0


    c. 0.1 			d. None of the above

In [59]:
X,Y = 5, 5
print(X/Y)

1.0

3.	What will be the output of the following statement? 

    print(15 + 20 / 5 + 3 * 2 - 1) 

    a. 19.0 			b. 19 

    c. 12.0 			d. 24.0

In [60]:
print(15 + 20 / 5 + 3 * 2 - 1)

24.0

4.	What will be the output of the following program?

    A=7 
    B=4 
    C=2
    
    print(a//b/c) 
    
    a. 0.85 			b. 0
    
    c. 0.5 			d. 0.0

5.	Which one of the following operators belongs to floor division? 

    a. % 			b. / 
    
    c. // 			d. None of the above

//

6. 	What will be the output of the following program? 

    X=4.6 
    Y=15 
    Z=X//Y 
    
    print(Z) 
    
    a. 0 			b. 0.0 
    
    c. 0.30 			d. None of the above

In [66]:
X=4.6 
Y=15 
Z=X//Y 
print(Z)

0.0

7.	If str1='Hari', what is the output of print(str1[4]) 

    a. i 			b. \0 
    
    c. Exception is raised 	d. None of the above

In [67]:
str1 = 'Hari'
print(str1[4])

IndexError: string index out of range

8. 	What is the output of "Hari"=="hari"

     a. True 		b. False 
    
     c. An exception is raised

In [69]:
"Hari"=="hari"

False

9.	What is the output of '567'>'989' 

    a. True			 b. False 
    
    c. An exception is raised d. None of the above

In [71]:
'567'>'989' # 5<9 ascii

False

10.	What is the output of 3*'A' 

    (a) '3A' 			(b) Character corresponding to the ascii value 65 Ã— 3? 
    
    (c) 'AAA' 		(d) None of the above

In [73]:
3*'A'

'AAA'

11.  Write a program with conditional if to find the bigger number in two x=10, y=12.

In [149]:
x,y = 10, 12

if x>y: print(x)
else: print(y)

12

12. Create the following function in python and check for x=3 and x=1.5</br>

    f(x) = x^2 + 5x + 3, if x>2 </br>
    f(x) = x+3, if x<=2

In [150]:
def f(x):
    if x>2: return (x**2 + 5*x + 3)
    return (x+3)

In [151]:
print(f(3), f(1.5))

27 4.5

In [152]:
def f(x):
    return (x+3) if x<=2 else (x**2 + 5*x + 3)

In [153]:
print(f(3), f(1.5))

27 4.5

13.  Find the factor of x=45. 
     (Example for Factors; all those number which can divide 12, i.e. 1,2,3,4,6,12)

In [187]:
# Method I
def factors(x):
    return [i for i in range(1,x+1) if x%i==0]

In [188]:
factors(45)

[1, 3, 5, 9, 15, 45]

In [189]:
# Method II
import math
def factors(x):
    fact = []
    for i in range(1,int(math.sqrt(x))+1):
        if x%i == 0:
            fact.append(i)
            if x//i != i: fact.append(x//i)
    return fact

In [183]:
factors(45)

[1, 45, 3, 15, 5, 9]

14. Ask the user to enter their name and then display their name three times.

In [195]:
ip = input("Enter your name: ")
for i in range(3):
    print(ip)

Enter your name:  dog

dog
dog
dog

15. Write a program to display the numbers of a series 1, 4, 9, 16, 25,â€¦625 by using for loop.

324
361
400
441
484
529
576
625

In [221]:
import math
x = 625
[i**2 for i in range(1, int(math.sqrt(x))+1) if i>=18]

[324, 361, 400, 441, 484, 529, 576, 625]

16.  create two list using for loop where one list contains only positive elements and second list contains only negatives from the below.</br>[0,5,-3,2,4,-6,4,3,-5,3,6,-7,5,35,6,-7,8,7,6,5,-7,8,-19,5,43,45,-34,5,67,566,3,3,4,6,7,84,64,4]

In [237]:
nums = [0,5,-3,2,4,-6,4,3,-5,3,6,-7,5,35,6,-7,8,7,6,5,-7,8,-19,5,43,45,-34,5,67,566,3,3,4,6,7,84,64,4]

pos, neg = [n for n in nums if n>0], [n for n in nums if n<0]

In [238]:
print(f"Positive: {pos} '\n' Negative: {neg}")

Positive: [5, 2, 4, 4, 3, 3, 6, 5, 35, 6, 8, 7, 6, 5, 8, 5, 43, 45, 5, 67, 566, 3, 3, 4, 6, 7, 84, 64, 4] '
' Negative: [-3, -6, -5, -7, -7, -7, -19, -34]