### List Methods Questions

1. **Append Method:**
   - Write a Python program to append the number 20 to a list of numbers `[1, 2, 3, 4, 5]` and print the updated list.

In [55]:
list_nums = [1, 2, 3, 4, 5]
list_nums.append(20)
list_nums

[1, 2, 3, 4, 5, 20]

2. **Extend Method:**
   - Write a Python program to extend a list `[1, 2, 3]` by adding another list `[4, 5, 6]` to it and print the updated list.

In [56]:
list_A = [1, 2, 3]
list_B = [4, 5, 6]

list_A.extend(list_B)
list_A

[1, 2, 3, 4, 5, 6]

3. **Remove Method:**
   - Write a Python program to remove the first occurrence of the number 3 from the list `[1, 2, 3, 4, 3, 5]` and print the updated list.

In [57]:
list_nums = [1, 2, 3, 4, 3, 5]
list_nums.remove(3)
list_nums

[1, 2, 4, 3, 5]

4. **Sort Method:**
   - Write a Python program to sort a list of numbers `[4, 2, 8, 1, 7]` in ascending order and print the sorted list.

In [58]:
list_nums = [4, 2, 8, 1, 7]
list_nums.sort()
list_nums

[1, 2, 4, 7, 8]

5. **Index Method:**
   - Write a Python program to find the index of the number 7 in the list `[10, 20, 7, 30, 40]` and print the index.

In [59]:
list_nums = [10, 20, 7, 30, 40]
list_nums.index(7)

2

### Tuple Methods Questions

1. **Count Method:**
   - Write a Python program to count the number of times the number 5 appears in the tuple `(1, 2, 5, 5, 3, 5, 4)` and print the count.

In [60]:
tuple_nums = (1, 2, 5, 5, 3, 5, 4)
tuple_nums.count(5)

3

2. **Index Method:**
   - Write a Python program to find the index of the number 8 in the tuple `(2, 4, 6, 8, 10)` and print the index.

In [61]:
tuple_nums = (2, 4, 6, 8, 10)
tuple_nums.index(8)

3

3. **Concatenation:**
   - Write a Python program to concatenate two tuples `(1, 2, 3)` and `(4, 5, 6)` and print the result.

In [62]:
tuple_A = (1, 2, 3)
tuple_B = (4, 5, 6)
tuple_C = tuple_A + tuple_B
print(tuple_C)

(1, 2, 3, 4, 5, 6)

4. **Slicing:**
   - Write a Python program to slice the tuple `(1, 2, 3, 4, 5)` to get the first three elements and print the sliced tuple.

In [63]:
tuple_nums = (1, 2, 3, 4, 5)
tuple_nums[0:3]

(1, 2, 3)

5. **Length:**
   - Write a Python program to find the length of the tuple `(10, 20, 30, 40, 50)` and print the length.

In [64]:
tuple_nums = (10, 20, 30, 40, 50)
len(tuple_nums)

5

### Dictionary Methods Questions

1. **Update Method:**
   - Write a Python program to update the dictionary `{1: 'a', 2: 'b'}` with another dictionary `{2: 'c', 3: 'd'}` and print the updated dictionary.

In [65]:
dict_A = {
    1: 'a',
    2: 'b'
}
dict_B = {
    2: 'c',
    3: 'd'
}
dict_A.update(dict_B)
dict_A

{1: 'a', 2: 'c', 3: 'd'}

2. **Keys Method:**
   - Write a Python program to get all the keys from the dictionary `{'name': 'John', 'age': 25, 'city': 'New York'}` and print the keys.

In [66]:
dict_A = {
    'name': 'John', 
    'age': 25, 
    'city': 'New York'
}
dict_A.keys()

dict_keys(['name', 'age', 'city'])

3. **Values Method:**
   - Write a Python program to get all the values from the dictionary `{'name': 'Alice', 'age': 30, 'city': 'Los Angeles'}` and print the values.

In [67]:
dict_A = {
    'name': 'Alice', 
    'age': 30, 
    'city': 'Los Angeles'
}
dict_A.values()

dict_values(['Alice', 30, 'Los Angeles'])

4. **Get Method:**
   - Write a Python program to get the value of the key 'age' from the dictionary `{'name': 'Bob', 'age': 35, 'city': 'Chicago'}` and print the value.

In [68]:
dict_A = {
    'name': 'Bob', 
    'age': 35, 
    'city': 'Chicago'
}
dict_A['age']

35

5. **Items Method:**
   - Write a Python program to get all the key-value pairs from the dictionary `{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}` and print the pairs.

In [70]:
dict_A = {'brand': 'Ford', 
          'model': 'Mustang', 
          'year': 1964
}
dict_A.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])