# Hypothesis Case Study

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/rahulmeena/Imarticus/GitHub/IMARTICUS/Datasets/class_exercise/cust_seg.csv")

In [3]:
df.head()

,custid,sex,AqChannel,region,Marital_status,segment,pre_usage,Post_usage_1month,Latest_mon_usage,post_usage_2ndmonth
0,70,0,4,1,1,1,57,52,49.2,57.2
1,121,1,4,2,1,3,68,59,63.6,64.9
2,86,0,4,3,1,1,44,33,64.8,36.3
3,141,0,4,3,1,3,63,44,56.4,48.4
4,172,0,4,2,1,2,47,52,68.4,57.2

Description about data: The data set (cust_seg) is information of 200
customers who were part of the last campaign conducted by one of the major
Bank-credit card division. The CMO would like to test below hypothesis based
on the data.
1. Card usage has been improved significantly from last year usage which is 50.

In [4]:
from scipy import stats

In [5]:
stats.ttest_1samp(a=df["pre_usage"], popmean=50, alternative="greater")

TtestResult(statistic=3.075895518975875, pvalue=0.0011969244515674076, df=199)