In [32]:
def Sum(*n):
    print(type(n))
    return sum(n)

In [33]:
Sum(1,23,3)

<class 'tuple'>

27

In [41]:
def prod(*nums):
    p = 1
    for n in nums: 
        p *= n
    return p

In [42]:
prod(1,2,3,4)

24

## lambda

In [45]:
x = lambda a, b: a+b

In [46]:
x(4,5)

9

In [47]:
sqrt = lambda x: x**(1/2)

In [48]:
sqrt

In [49]:
greater = lambda x1, x2: x1 if x1>x2 else x2

In [52]:
greater(6,3)

6

In [54]:
even_odd = lambda x: "even" if x%2==0 else "odd"

In [55]:
even_odd(3)

'odd'

In [59]:
sq = list(map(lambda x:x**2, [1,2,3]))

In [61]:
sq

[1, 4, 9]

In [68]:
names = ["Harry", "John", "muskan", "merry"]

list(map(lambda i: i.upper(), names))

['HARRY', 'JOHN', 'MUSKAN', 'MERRY']

In [69]:
[i.upper() for i in names]

['HARRY', 'JOHN', 'MUSKAN', 'MERRY']

In [78]:
a,b = [2, 4, 5], [10, 30, 50]
list(map(lambda a, b: a+b, a,b))

[12, 34, 55]

In [80]:
listA = []
c=0
for i in range(len(b)):
    listA.append(a[c]+b[c])
    c+=1
listA

[12, 34, 55]

In [100]:
list1 = [1,2,4,6,7,63,24,5,6,996,73,8]

In [101]:
list(filter(lambda x: x%2==0 and x>20, list1))

[24, 996]

In [102]:
listA = [2,3,4, 33, 55, 6]

map(lambda x: str(x), listA)

In [103]:
list(filter(lambda x: x//100 in [1,2,3,4,5,6,7,8,9], list1))

[996]

In [108]:
list1

[1, 2, 4, 6, 7, 63, 24, 5, 6, 996, 73, 8]

In [109]:
from functools import reduce

In [110]:
reduce(lambda x, y: x if x>y else y, list1)

996